# ==========================================
# Vivado - foldery robocze i pliki tymczasowe
# ==========================================
.Xil/
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/

# ==========================================
# Vivado - pliki projektowe
# ==========================================
*.xpr

# ==========================================
# Vivado - logi, raporty i pliki systemowe
# ==========================================
*.jou
*.log
*.str
*.pb
*.os

# ==========================================
# Pliki binarne
# ==========================================
*.bit
*.bin

# ==========================================
# VS Code
# ==========================================
.vscode/