# ==========================================
# Vivado - foldery robocze i pliki tymczasowe
# ==========================================
.Xil/
*.runs/
*.sim/
*.cache/
*.hw/
*.ip_user_files/

# ==========================================
# Vivado - pliki projektowe
# ==========================================
*.xpr

# ==========================================
# Vivado - logi, raporty i pliki systemowe
# ==========================================
*.jou
*.log
*.str
*.pb
*.os
*.wdb

# ==========================================
# 4. Pliki kopii zapasowych
# ==========================================
*backup*
*.bak

# ==========================================
# Pliki binarne
# ==========================================
*.bit
*.bin

# ==========================================
# 5. Ewentualne zrzuty bazy danych sprzętu
# ==========================================
*.csv
*.txt
!simulate_test.txt
!state_machine.txt
!reference_model_test.txt

# ==========================================
# VS Code
# ==========================================
.vscode/
